/* CENTER VERTICALLY */
/* LANDSCAPE MEDIA QUERIES */
/* PORTRAIT MEDIA QUERIES */
/* DESKTOP MEDIA QUERY */
/* KEYFRAMES */
/* CLEARFIX MIXIN */
body, .intro .tag-container, .lightbox .lb-content {
  zoom: 1;
}

body:before, .intro .tag-container:before, .lightbox .lb-content:before, body:after, .intro .tag-container:after, .lightbox .lb-content:after {
  content: " ";
  display: table;
}

body:after, .intro .tag-container:after, .lightbox .lb-content:after {
  clear: both;
}

/*
 *   GLOBAL STYLING
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-image: url("../img/snow-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  margin: 0;
}

/**********************************************
 *  INTRO STYLING
 **********************************************/
.intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.intro .tag-container {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  text-align: center;
}

.intro .tag-container .tag {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  z-index: 3;
  opacity: 1;
}

.intro .tag-container .is-pressed {
  width: 15%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media only screen and (min-width: 350px) and (orientation: portrait) {
  .intro .tag-container .is-pressed {
    width: 22%;
  }
}

.intro .open-button {
  width: 12rem;
  height: auto;
  position: absolute;
  bottom: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

/*
 *  MOBILE EXPERIENCE STYLING
 */
.icons-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  z-index: 2;
}

.icons-container .icons-content {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* REMOVE WHEN DONE*/
}

.icons-container .icons-content .icons-row {
  width: 100%;
  margin-top: 2rem;
  padding-left: 4%;
  padding-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 720px) and (orientation: portrait) {
  .icons-container .icons-content .icons-row {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 460px) and (max-width: 1024px) and (orientation: landscape) {
  .icons-container .icons-content .icons-row {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 840px) and (max-width: 1024px) and (orientation: landscape) {
  .icons-container .icons-content .icons-row {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) and (orientation: landscape) {
  .icons-container .icons-content .icons-row {
    margin-top: 4rem;
  }
}

.icons-container .icons-content .icons-row .icon {
  width: 19vw;
  height: 19vw;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-transition: width 0.7s, height 0.7s;
  transition: width 0.7s, height 0.7s;
}

@media only screen and (min-width: 400px) and (max-width: 1024px) and (orientation: landscape) {
  .icons-container .icons-content .icons-row .icon {
    width: 15vh;
    height: 15vh;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) and (orientation: landscape) {
  .icons-container .icons-content .icons-row .icon {
    width: 13vh;
    height: 13vh;
  }
}

@media only screen and (min-width: 720px) and (orientation: portrait) {
  .icons-container .icons-content .icons-row .icon {
    width: 14vw;
    height: 14vw;
  }
}

.mobile-footer {
  width: 100%;
  height: 60%;
  display: none;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lightbox .lb-content {
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 400px) and (max-width: 1024px) and (orientation: landscape) {
  .lightbox .lb-content {
    width: 90%;
  }
}

.lightbox .lb-content .lb-close {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  position: absolute;
  border-radius: 3rem;
  top: -1rem;
  right: -1rem;
  z-index: 2;
  opacity: 1;
  text-align: center;
  background: darkred;
  cursor: pointer;
}

.lightbox .lb-content .lb-close:before, .lightbox .lb-content .lb-close:after {
  position: absolute;
  top: 0.65rem;
  left: 1.4rem;
  content: " ";
  height: 1.7rem;
  width: 0.2rem;
  background-color: white;
}

.lightbox .lb-content .lb-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.lightbox .lb-content .lb-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.lightbox .lb-content .img-container {
  margin-bottom: 3rem;
  opacity: 1;
}

@media only screen and (min-width: 400px) and (max-width: 1024px) and (orientation: landscape) {
  .lightbox .lb-content .img-container {
    width: 45%;
    margin-bottom: 0;
    float: right;
  }
}

.lightbox .lb-content .snippet {
  text-align: center;
  opacity: 1;
}

@media only screen and (min-width: 400px) and (max-width: 1024px) and (orientation: landscape) {
  .lightbox .lb-content .snippet {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.lightbox .lb-content .snippet p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: darkred;
}

@media only screen and (min-width: 720px) and (orientation: portrait) {
  .lightbox .lb-content .snippet p {
    font-size: 2.4rem;
  }
}

.is-hidden {
  z-index: -3;
  opacity: 0;
  visibility: hidden;
}

.is-visible {
  opacity: 1;
  z-index: 4;
  visibility: visible;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*
 *  DESKTOP EXPERIENCE STYLING
 */
.tree-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
}

.tree-container .gift-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tree-container .gift-row .gift,
.tree-container .gift-row .box {
  margin: 0.8rem;
}

.tree-container .gift-row .gift .card:hover .face,
.tree-container .gift-row .box .card:hover .face {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.tree-container .gift-row .gift .card:hover .front,
.tree-container .gift-row .gift .card:hover .inner-left,
.tree-container .gift-row .box .card:hover .front,
.tree-container .gift-row .box .card:hover .inner-left {
  -webkit-transform: rotateY(-35deg);
          transform: rotateY(-35deg);
}

.gift,
.box {
  position: relative;
  width: 9rem;
  height: 9rem;
  display: block;
}

.card {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 700;
          perspective: 700;
  cursor: pointer;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 3;
}

.inner-left {
  background: #e7e7e7;
  z-index: 2;
}

.inner-left > p {
  opacity: 0;
  font-size: 8px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  text-align: center;
}

.inner-right {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 1;
}

.clone {
  position: absolute;
  z-index: 10;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.clone .front,
.clone .inner-left {
  -webkit-transform: rotateY(-35deg);
          transform: rotateY(-35deg);
}
/*# sourceMappingURL=main.css.map */