@import 'mixins';
@import 'vars';


/*
 *   GLOBAL STYLING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    @extend %clearfix;
    background: #fffafa;
    position: relative;
    font-size: 16px;
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

p {
    margin: 0;
}

/*
 *  MOBILE EXPERIENCE STYLING
 */

.icons-container {
    width: 100%;
    height: auto;
    /* REMOVE WHEN DONE*/
    display: none;

    .icons-row {
        width: 100%;
        margin-top: 2rem;
        padding-left: 4%;
        padding-right: 4%;
        display: flex;
        justify-content: space-between;
        @include portrait(720px) {
            margin-top: 6rem;
        }
        @include landscape (460px) {
            margin-top: 1.5rem;
        }
        @include landscape(840px) {
            margin-top: 3rem;
        }
        @include landscape(1000px) {
            margin-top: 4rem;
        }

        .icon {
            width: 19vw;
            height: 19vw;
            cursor: pointer;
            border-radius: 1rem;
            overflow: hidden;
            transition: width 0.7s, height 0.7s;
            @include landscape(400px) {
                width: 15vh;
                height: 15vh;
            }
            @include landscape(1000px) {
                width: 13vh;
                height: 13vh;
            }
            @include portrait(720px) {
                width: 14vw;
                height: 14vw;
            }
        }
    }
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;

    .lb-content {
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include landscape(400px) {
            width: 90%;
            height: 80%;
        }

        .lb-close {
            width: 3rem;
            height: 3rem;
            padding: 0.5rem;
            position: absolute;
            border-radius: 3rem;
            top: -1rem;
            right: -1rem;
            z-index: 2;
            opacity: 1;
            text-align: center;
            background: darkred;
            cursor: pointer;
            &:before, &:after {
                position: absolute;
                top: 0.65rem;
                left: 1.4rem;
                content: ' ';
                height: 1.7rem;
                width: 0.2rem;
                background-color: white;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }

        .img-container {
            margin-bottom: 3rem;
            opacity: 1;
            @include landscape(400px) {
                width: 49%;
                position: absolute;
                right: 0;
            }
        }
    
        .snippet {
            text-align: center;
            opacity: 1;
            @include landscape(400px) {
                width: 49%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
    
            p {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                color: darkred;
                @include portrait(720px) {
                    font-size: 2.4rem;
                }
            }
        }
    }
}

.is-hidden {
    z-index: -3;
    opacity: 0;
    visibility: hidden;
}

.is-visible {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

/*
 *  DESKTOP EXPERIENCE STYLING
 */
 