@import "mixins";
@import "vars";

/*
 *   GLOBAL STYLING
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  @extend %clearfix;
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  @include desktop(1025px) {
    background-attachment: fixed;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/**********************************************
 *  INTRO STYLING
 **********************************************/

.mobile-intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../img/intro-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  @include desktop(1025px) {
    display: none;
  }

  .tag-container {
    @extend %clearfix;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
    .tag {
      width: auto;
      height: 60%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 0;
      z-index: 3;
      @include portrait(720px) {
        height: 70%;
      }
    }
    .is-pressed {
      height: 0;
      transition: all 0.8s;
      // @include portrait(350px) {
      //   height: 18%;
      // }
      // @include portrait(620px) {
      //   height: 15%;
      // }
    }
  }

  .open-button {
    width: 12rem;
    height: auto;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    @include portrait(720px) {
      width: 20rem;
    }
  }
}

/**********************************************
 *  MOBILE EXPERIENCE STYLING
 **********************************************/

.icons-container {
  overflow: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  bottom: -100%;
  z-index: 2;
  background-image: url("../img/snow-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include desktop(1025px) {
    display: none;
  }

  .icons-content {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icons-row {
      width: 100%;
      margin-top: 2rem;
      padding-left: 4%;
      padding-right: 4%;
      display: flex;
      justify-content: space-between;
      &:first-of-type {
        margin-top: 0;
      }
      @include portrait(720px) {
        margin-top: 6rem;
      }
      @include landscape(460px) {
        margin-top: 1.5rem;
      }
      @include landscape(840px) {
        margin-top: 3rem;
      }
      @include landscape(1000px) {
        margin-top: 4rem;
      }

      .icon {
        width: 19vw;
        height: 19vw;
        cursor: pointer;
        border-radius: 1rem;
        overflow: hidden;
        transition: width 0.7s, height 0.7s;
        @include landscape(400px) {
          width: 15vh;
          height: 15vh;
        }
        @include landscape(1000px) {
          width: 13vh;
          height: 13vh;
        }
        @include portrait(720px) {
          width: 14vw;
          height: 14vw;
        }
      }
    }

    .last-row {
      justify-content: center;
    }
  }
}

/**********************************************
 *  MOBILE FOOTER STYLING
 **********************************************/

.mobile-footer {
  overflow: hidden;
  width: 100%;
  display: none;
  text-align: center;
  background-image: url("../img/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include desktop(1025px) {
    display: none;
  }

  .logo-container,
  .text-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
    @include portrait(720px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    .logo {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      @include portrait(720px) {
        width: 50%;
      }
    }

    .holidays {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    @include portrait(720px) {
      font-size: 2.6rem;
    }
  }
}

/**********************************************
 *  LIGHTBOX STYLING
 **********************************************/

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(32, 41, 69, 0.95);
  transition: 0.5s;

  .lb-content {
    @extend %clearfix;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include landscape(400px) {
      width: 90%;
    }

    .lb-close {
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      position: absolute;
      border-radius: 3rem;
      top: -1rem;
      right: -1rem;
      z-index: 2;
      opacity: 1;
      text-align: center;
      background: #aba400;
      cursor: pointer;
      &:before,
      &:after {
        position: absolute;
        top: 0.65rem;
        left: 1.4rem;
        content: " ";
        height: 1.7rem;
        width: 0.2rem;
        background-color: white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    .img-container {
      margin-bottom: 3rem;
      border: 1rem solid #e9e9e9;
      opacity: 1;
      @include landscape(400px) {
        width: 45%;
        margin-bottom: 0;
        float: right;
      }
    }

    .snippet {
      text-align: center;
      opacity: 1;
      @include landscape(400px) {
        width: 45%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: white;
        @include portrait(720px) {
          font-size: 2.4rem;
        }
      }
    }
  }
}

/**********************************************
 *  STATES FOR LIGHTBOX STYLING
 **********************************************/

.is-hidden {
  z-index: -3;
  opacity: 0;
  visibility: hidden;
}

.is-visible {
  opacity: 1;
  z-index: 4;
  visibility: visible;
  transition: all 0.2s;
}

/**********************************************
 *  DESKTOP INTRO STYLING
 **********************************************/
.desktop-intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: none;
  background-image: url("../img/intro-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  @include desktop(1025px) {
    display: block;
  }
  .desktop-tag-container {
    @extend %clearfix;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
    .desktop-tag {
      width: auto;
      height: 70%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 0;
      z-index: 3;
    }
  }

  .volume {
    width: 2rem;
  }

  .desktop-open-button {
    width: 15rem;
    height: auto;
    position: absolute;
    bottom: 12%;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    cursor: pointer;
  }
}

/**********************************************
 *  DESKTOP EXPERIENCE STYLING
 **********************************************/

.tree-container {
  display: none;
  width: 100%;
  height: 100%;
  bottom: -100%;
  position: absolute;
  background-image: url("../img/snow-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .tree-content {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .gift-row {
      display: flex;
      justify-content: center;
      align-content: center;

      .gift,
      .box {
        margin: 0.8rem;

        .card {
          &:hover {
            .face {
              transition: all 0.3s ease-out;
            }

            .front,
            .inner-left {
              transform: rotateY(-35deg);
            }
          }
        }
      }
    }
  }
}

.gift,
.box {
  position: relative;
  width: 9rem;
  height: 9rem;
  display: block;
}

.card {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 700;
  cursor: pointer;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  transform-origin: 0 0;
  transition: all 0.5s ease-out;
}

.front {
  backface-visibility: hidden;
  z-index: 3;
}

.inner-left {
  background: rgb(231, 231, 231);
  z-index: 2;
  & > p {
    opacity: 0;
    font-size: 6px;
    transform: rotateY(-180deg);
    text-align: center;
  }
}

.inner-right {
  transform: rotateY(0deg);
  z-index: 1;
}

.clone {
  position: fixed;
  z-index: 10;
  transform-origin: left center;

  .front,
  .inner-left {
    transform: rotateY(-35deg);
  }
}

/**********************************************
 *  DESKTOP FOOTER STYLING
 **********************************************/

.desktop-footer {
  overflow: hidden;
  width: 100%;
  display: none;
  text-align: center;
  background-image: url("../img/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include desktop(1025px) {
    display: none;
  }

  .desktop-logo-container,
  .desktop-text-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
    @include portrait(720px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    .desktop-logo {
      width: 20%;
      margin-left: auto;
      margin-right: auto;
      @include portrait(720px) {
        width: 50%;
      }
    }

    .desktop-holidays {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    @include portrait(720px) {
      font-size: 2.6rem;
    }
  }
}
