@import "mixins";
@import "vars";

/*
 *   GLOBAL STYLING
 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  @include desktop(1025px) {
    overflow-y: scroll;
  }
}

body {
  @extend %clearfix;
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  @include desktop(1025px) {
    background-attachment: fixed;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/**********************************************
 *  LOADER STYLING
 **********************************************/

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background: #fff;

  .spinner {
    border: 5px solid #a9a427;
    border-radius: 6rem;
    height: 6rem;
    left: 50%;
    margin: -3rem 0 0 -3rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 6rem;
    -webkit-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

@include keyframes(pulsate) {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

/**********************************************
 *  INTRO STYLING
 **********************************************/

.mobile-intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../img/christmas/intro-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;

  // .intro-volume {
  //   width: 10%;
  //   position: absolute;
  //   left: 50%;
  //   bottom: 25%;
  //   -webkit-transform: translateX(-50%);
  //   transform: translateX(-50%);
  //   @include portrait(720px) {
  //     width: 5%;
  //     bottom: 22%;
  //   }
  //   @include landscape(460px) {
  //     width: 3rem;
  //     bottom: 25%;
  //   }
  //   @include landscape(1000px) {
  //     width: 4rem;
  //   }
  // }

  .tag-container {
    @extend %clearfix;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
    .tag {
      width: auto;
      height: 60%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 0;
      z-index: 3;
      @include portrait(720px) {
        height: 70%;
      }
      @include desktop(1025px) {
        height: 70%;
      }
    }
    .is-pressed {
      height: 0;
      -webkit-transition: all 0.8s;
      transition: all 0.8s;
    }
  }

  .open-button {
    width: 12rem;
    height: auto;
    position: absolute;
    bottom: 17%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    @include portrait(720px) {
      width: 20rem;
    }
    @include landscape(460px) {
      width: 9rem;
    }
    @include landscape(1000px) {
      width: 15rem;
    }
    @include desktop(1025px) {
      width: 15rem;
    }
  }
}

/**********************************************
 *  MOBILE EXPERIENCE STYLING
 **********************************************/

.snow-container {
  overflow: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  bottom: -100%;
  z-index: 2;
  background-image: url("../img/christmas/snow-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .icons-container {
    width: 100%;
    height: 100%;
    animation: 0.5s fadeIn;
    @include desktop(1025px) {
      display: none;
    }

    .content-speaker {
      width: 10%;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      cursor: pointer;
      z-index: 3;
      @include portrait(720px) {
        width: 8%;
      }
      @include landscape(460px) {
        width: 3rem;
      }
      @include landscape(1000px) {
        width: 4rem;
      }
    }

    .icons-content {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      .icons-row {
        width: 100%;
        margin-top: 2rem;
        padding-left: 4%;
        padding-right: 4%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        &:first-of-type {
          margin-top: 0;
        }
        @include portrait(720px) {
          margin-top: 6rem;
        }
        @include landscape(460px) {
          margin-top: 1rem;
        }
        @include landscape(840px) {
          margin-top: 3rem;
        }
        @include landscape(1000px) {
          margin-top: 3rem;
        }

        .icon {
          width: 19vw;
          height: 19vw;
          // max-width: 9rem;
          // max-height: 9rem;
          cursor: pointer;
          border-radius: 1rem;
          overflow: hidden;
          -webkit-transition: width 0.7s, height 0.7s;
          transition: width 0.7s, height 0.7s;
          @include landscape(400px) {
            width: 13vh;
            height: 13vh;
          }
          @include landscape(1000px) {
            width: 11vh;
            height: 11vh;
          }
          @include portrait(600px) {
            width: 10vh;
            height: 10vh;
          }
        }
      }

      .last-row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }

  .tree-container {
    display: none;
    width: 100%;
    height: 100%;
    @include desktop(1025px) {
      display: block;
      animation: 0.5s fadeIn;
    }

    .content-speaker {
      width: 3rem;
      position: absolute;
      top: 4.5rem;
      right: 3rem;
      cursor: pointer;
      transform: translateX(-50%);
      z-index: 3;
    }

    .tree-content {
      width: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      .gift-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;

        .gift,
        .box {
          margin: 0.8rem;

          .card {
            &:hover {
              .face {
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
              }

              .front,
              .inner-left {
                -webkit-transform: rotateY(-35deg);
                transform: rotateY(-35deg);
              }
            }
          }
        }
      }
    }
  }

  .gift,
  .box {
    position: relative;
    width: 10vh;
    height: 10vh;
    max-width: 9rem;
    max-height: 9rem;
    display: block;
  }

  .card {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 200rem;
    cursor: pointer;
  }

  .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 3;
  }

  .inner-left {
    background: #202945;
    z-index: 2;
    & > p {
      position: relative;
      top: 50%;
      padding: 5px;
      opacity: 0;
      font-size: 4px;
      color: white;
      -webkit-transform: translateZ(1000px) translateY(-50%) rotateY(-180deg);
      transform: translateZ(1000px) translateY(-50%) rotateY(-180deg);
      text-align: center;
    }
  }

  .inner-right {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 1;
  }

  .clone {
    width: 32.5vw;
    height: 32.5vw;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    z-index: 7;
    -webkit-transform-origin: left top;
    transform-origin: left top;

    .exit {
      width: 3.5rem;
      height: 3.5rem;
      padding: 0.3rem;
      position: absolute;
      border-radius: 5rem;
      top: -1.5rem;
      right: -1.5rem;
      z-index: 2;
      opacity: 1;
      text-align: center;
      background: #aba400;
      cursor: pointer;
      &:before,
      &:after {
        position: absolute;
        top: 0.9rem;
        left: 1.6rem;
        content: " ";
        height: 1.8rem;
        width: 0.3rem;
        background-color: white;
      }
      &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    .front,
    .inner-left {
      -webkit-transform: rotateY(-35deg);
      transform: rotateY(-35deg);
    }

    .inner-left {
      & > p {
        padding: 3rem;
        font-size: 1.8rem;
        @include desktop(1560px) {
          padding: 4rem;
          font-size: 2.4rem;
        }
      }
    }
  }

  .invisible {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
  }
}

/**********************************************
 *  MOBILE FOOTER STYLING
 **********************************************/

.mobile-footer {
  overflow: hidden;
  width: 100%;
  display: none;
  text-align: center;
  background-image: url("../img/christmas/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .logo-container,
  .text-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
    @include portrait(720px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
    @include landscape(460px) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .logo {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      @include portrait(720px) {
        width: 50%;
      }
      @include landscape(460px) {
        width: 20rem;
      }
      @include desktop(1025px) {
        width: 20%;
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .holidays {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      @include landscape(460px) {
        width: 30rem;
      }
      @include desktop(1025px) {
        width: 30%;
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  p {
    width: 80%;
    max-width: 60rem;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    color: white;
    @include portrait(720px) {
      font-size: 2.4rem;
    }
    @include landscape(460px) {
      width: 45rem;
    }
    @include desktop(1025px) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.4rem;
      line-height: 1.5;
      color: white;
    }
  }
}

/**********************************************
 *  LIGHTBOX STYLING
 **********************************************/

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(32, 41, 69, 0.95);
  -webkit-transition: 0.5s;
  transition: 0.5s;

  .lb-content {
    @extend %clearfix;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include landscape(400px) {
      width: 90%;
    }

    .lb-close {
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      position: absolute;
      border-radius: 3rem;
      top: -1rem;
      right: -1rem;
      z-index: 2;
      opacity: 1;
      text-align: center;
      background: #aba400;
      cursor: pointer;
      &:before,
      &:after {
        position: absolute;
        top: 0.65rem;
        left: 1.4rem;
        content: " ";
        height: 1.7rem;
        width: 0.2rem;
        background-color: white;
      }
      &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      @include portrait(720px) {
        width: 4.5rem;
        height: 4.5rem;
        top: -1.7rem;
        right: -1.7rem;
        &:before,
        &:after {
          height: 2.5rem;
          width: 0.3rem;
          top: 1rem;
          left: 2.1rem;
        }
      }
    }

    .img-container {
      margin-bottom: 3rem;
      border: 1rem solid #e9e9e9;
      opacity: 1;
      @include landscape(400px) {
        width: 45%;
        margin-bottom: 0;
        float: right;
      }
    }

    .snippet {
      text-align: center;
      opacity: 1;
      @include landscape(400px) {
        width: 45%;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: white;
        @include portrait(720px) {
          font-size: 2.4rem;
        }
        @include landscape(1000px) {
          font-size: 2.8rem;
        }
      }
    }
  }
}

/**********************************************
 *  STATES FOR LIGHTBOX STYLING
 **********************************************/

.is-hidden {
  z-index: -3;
  opacity: 0;
  visibility: hidden;
}

.is-visible {
  opacity: 1;
  z-index: 4;
  visibility: visible;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/**********************************************
 *  MEDIA QUERY ANIMATIONS
 **********************************************/

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// /**********************************************
//  *  DESKTOP INTRO STYLING
//  **********************************************/
// .desktop-intro {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   position: relative;
//   display: none;
//   background-image: url("../img/christmas/intro-bg.png");
//   background-position: center bottom;
//   background-repeat: no-repeat;
//   background-size: cover;
//   @include desktop(1025px) {
//     display: block;
//   }
//   .desktop-tag-container {
//     @extend %clearfix;
//     width: 100%;
//     height: 100%;
//     display: block;
//     position: relative;
//     text-align: center;
//     .desktop-tag {
//       width: auto;
//       height: 70%;
//       margin-left: auto;
//       margin-right: auto;
//       position: relative;
//       top: 0;
//       z-index: 3;
//     }
//   }

//   .intro-volume {
//     width: 3%;
//     max-width: 5rem;
//     position: absolute;
//     bottom: 21%;
//     left: 50%;
//     -webkit-transform: translateX(-50%);
//     transform: translateX(-50%);
//     opacity: 1;
//     cursor: pointer;
//   }

//   .desktop-open-button {
//     width: 15rem;
//     height: auto;
//     position: absolute;
//     bottom: 17%;
//     left: 50%;
//     opacity: 1;
//     -webkit-transform: translateX(-50%);
//     transform: translateX(-50%);
//     cursor: pointer;
//   }
// }

/**********************************************
 *  DESKTOP EXPERIENCE STYLING
 **********************************************/

// /**********************************************
//  *  DESKTOP FOOTER STYLING
//  **********************************************/

// .desktop-footer {
//   overflow: hidden;
//   width: 100%;
//   display: none;
//   text-align: center;
//   background-image: url("../img/christmas/footer-bg.jpg");
//   background-position: center center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   @include desktop(1025px) {
//     display: none;
//   }

//   .desktop-logo-container,
//   .desktop-text-container {
//     margin-top: 4rem;
//     margin-bottom: 4rem;
//     width: 100%;
//     text-align: center;
//     @include portrait(720px) {
//       margin-top: 6rem;
//       margin-bottom: 6rem;
//     }

//     .desktop-logo {
//       width: 20%;
//       max-width: 26rem;
//       margin-left: auto;
//       margin-right: auto;
//       @include portrait(720px) {
//         width: 50%;
//       }
//     }

//     .desktop-holidays {
//       width: 30%;
//       max-width: 35rem;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }

//   p {
//     width: 50%;
//     margin-left: auto;
//     margin-right: auto;
//     font-size: 1.4rem;
//     line-height: 1.5;
//     color: white;
//     @include portrait(720px) {
//       font-size: 2.6rem;
//     }
//   }
// }
