/* CENTER VERTICALLY */
@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* LANDSCAPE MEDIA QUERIES */
@mixin landscape($pixels) {
  @media only screen and (min-width: $pixels) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

/* PORTRAIT MEDIA QUERIES */
@mixin portrait($pixel) {
  @media only screen and (min-width: $pixel) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

/* DESKTOP MEDIA QUERY */
@mixin desktop($size) {
  @media only screen and (min-width: $size) and (orientation: landscape) {
    @content;
  }
}

/* KEYFRAMES */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

/* CLEARFIX MIXIN */
%clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
